@page "/Counter"
@inject NavigationManager navManager
@using Microsoft.AspNetCore.SignalR.Client
@implements IAsyncDisposable

<h3>Counter</h3>

<p>Current count: @_currentCount</p>

@code {
    private int _currentCount;
    private HubConnection? _hubConnection;

    protected override async Task OnInitializedAsync()
    {
        _hubConnection = new HubConnectionBuilder()
            .WithUrl(navManager.ToAbsoluteUri("/counterhub"))
            .WithAutomaticReconnect()
            .Build();

        _hubConnection.On<string, int>("CounterIncrement", (user, value) =>
        {
            _currentCount += value;
            InvokeAsync(StateHasChanged);
        });

        await _hubConnection.StartAsync();
    }

    public async ValueTask DisposeAsync()
    {
        if (_hubConnection is not null)
        {
            await _hubConnection.DisposeAsync();
        }
    }

}